@font-face {
    font-family: "Fira Code";
    src: url("Fira-code.ttf");
}

* {
    font-family: "Fira code", monospace;
}

.select-text {
    display: inline;
}

.copy-btn {
    display: block;
    margin-bottom: 5px;
    font-size: 1.25rem;
}

.io textarea {
    font-size: 1.25rem;
    height: 300px;
    width: 800px;
}

#separator-text, #seperator-newline {
    padding: 2px;
    font-size: 1.25rem;
}

#schemeSelect {
    border-collapse: collapse;
}

#schemeSelect thead td {
    text-align: center;
    font-weight: bold;
}

#schemeSelect, #schemeSelect td {
    border: 2px solid;
    margin: 0;
    padding: 5px;
    font-size: 1.25rem;
}

#schemeSelect td.invisibleName {
    display: none;
}

#schemeSelect input {
    margin: 4px;
    height: 20px;
    width: 20px;
}

#schemeSelect .sep td {
    padding: 0;
}